<div class="container-md">
  <div class="container-md">
    {{#if error}}
    <h2 class="page-heading">Edit Events_Inventory</h2>
    <p class="form-error">{{error.message}}</p>
      <a href="/events_inventory" class="btn btn-secondary">Return to Events_Inventory</a>
    {{else}}
    <h2 class="page-heading">Edit Events_Inventory</h2>

    <div class="search-form">
      <div class="col-6">
        {{!-- Edit Form --}}
        {{#each context}}
        <form method="POST" action="/events_inventory/edit/{{this.id}}">
        {{/each}}

          <div class="row">
            <div class="form-group col">
              <select name="eventId" id="inputEvent" class="form-control">
                {{!-- <option selected>Choose Event..</option> --}}
              {{#each context}}
              {{!-- {{context}} --}}
              <option selected='selected' value="{{this.eventId}}">{{this.eventName}}</option>
              {{/each}}
              {{#each events}}
              <option value={{this.eventId}}>{{this.eventName}}</option>
              {{/each}}
              </select>
            </div>
            <div class="form-group col">
              <select name="inventoryId" id="inputInventory" class="form-control">
                {{!-- <option selected>Choose Artist's First Name..</option> --}}
              {{#each context}}
              <option selected='selected' value={{this.inventoryId}}>{{this.artworkName}}</option>
              {{/each}}
              {{#each inventory}}
              <option value={{this.inventoryId}}>{{this.artworkName}}</option>
              {{/each}}
              </select>
            </div>
          </div>
        
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-dark search-submit">
              Update
            </button> 
            {{!-- {{#each context}}
            <a href="/events_artists/edit/{{this.id}}" class = "btn btn-dark">Update</a>
            {{/each}} --}}
            {{#each context}}
            <a href="/events_inventory/delete/{{this.id}}" class="btn btn-danger">Delete</a>
            {{/each}}
            <a href="/events_inventory" class="btn btn-secondary">Cancel</a>
          </div>
        </div>


      </form>

    </div>
  </div>
  {{/if}}
</div>
</div>
{{!-- 
          <div class="row">
            <div class="col">

              <button type="submit" class="btn btn-dark search-submit">
                Update
              </button>
              <a href="/events_artists/delete/{{this.id}}" class="btn btn-danger">Delete</a>
              <a href="/events_artists" class="btn btn-secondary">Cancel</a>
              {{!-- <button type="button" class="btn btn-secondary">
                Cancel
              </button>
            </div>
          </div>


        </form>
      </div>
    </div>
  </div>
</div> --}}