<div class="container-md">
  {{#if error}}
    <div class="add-form">
    <h4 class="form-heading">Add an Artwork to an Event</h4>
    <p class="form-error">{{error.message}}</p>
      <a href="/events_inventory" class="btn btn-secondary">Return to Events_Inventory</a>
  </div>
  {{else}}
  <h2 class="page-heading">Events_Inventory</h2>


  {{!-- Results Table --}}
  <h4 class="table-heading">Artworks Showcasing at Events Table</h4>
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <th>Event_Inventory Id</th>
      <th>Event Id</th>
      <th>Event Name</th>
      <th>Inventory Id</th>
      <th>Artwork</th>
      <th>Edit</th>
    </thead>
    <tbody>
      {{#each context}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.eventId}}</td>
        <td>{{this.eventName}}</td>
        <td>{{this.inventoryId}}</td>
        <td>{{this.artworkName}}</td>
        {{!-- edit: not working --}}
        <td><a href="/events_inventory/{{this.id}}" class="btn btn-dark edit" data-id={{this.id}}>Edit</a></td>
        {{!-- delete removed --}}
        {{!-- <td><a href="#" class="btn btn-danger" data-id={{this.id}}>Delete</a></td> --}}
      </tr>
      {{/each}}
    </tbody>
  </table>

  {{!-- Add artwork (inventory) to an event --}}
  <div class="add-form">
    <h4 class="form-heading">Add an Artwork to an Event</h4>
    <div class="col-6">
      <form method="POST" action="events_inventory">
        <div class="row">
          <div class="form-group col">
            <select name="eventId" id="inputEvent" class="form-control">
              <option selected>Choose Event..</option>
              {{#each events}}
              <option value={{this.eventId}}>{{this.eventName}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group col">
            <select name="inventoryId" id="inputInventory" class="form-control">
              <option selected>Choose Artwork..</option>
              {{#each inventory}}
              <option value={{this.inventoryId}}>{{this.artworkName}}</option>
              {{/each}}
            </select>
          </div>
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-dark add-submit">
                Add
              </button>
            </div>
          </div>
      </form>
    </div>
  </div>
  {{/if}}

  <!-- Hidden when page loads -->
  {{!-- <form class="form-to-add-update">
    <h3 class="form-heading"></h3>
    <div class="form-group">
      <label for="eventId">eventId</label>
      <input type="number" class="form-control" id="eventId" placeholder="eventId" required />
    </div>
    <div class="form-group">
      <label for="inventoryId">inventoryId</label>
      <input type="number" class="form-control" id="inventoryId" placeholder="inventoryId" required />
    </div>
    <div>
      <button type="submit" class="btn btn-dark form-submit">Submit</button>
    </div>
  </form> --}}
  <!-- <hr class="hr-spacing" />
        <form class="form-to-search">
          <h3 class="form-heading">Search Artwork(s) showcasing at Event by Event Id</h3>
          <div class="form-group">
            <input
              type="number"
              class="form-control"
              id="eventId"
              placeholder="Event Id"
              required
            />
          </div>
          <div>
            <button type="submit" class="btn btn-dark search-submit">Submit</button>
          </div>
        </form> -->
</div>

<script src="https://kit.fontawesome.com/fc8bbd5566.js" crossorigin="anonymous"></script>
<script src="./js/gallery_events-gallery_inventory.js"></script>