<div class="container-md">
  {{#if error}}
  <div class="search-form">
    <h4 class="form-heading">Add artwork</h4>
    <p class="form-error">{{error.message}}</p>
    <a href="/inventory" class="btn btn-secondary">Return to Inventory</a>
  </div>
  {{else}}
  <table class="table table-striped table-hover">
    <h4 class="form-heading">Inventory Table</h4>
    <thead class="table-dark">
      <th>Inventory Id</th>
      <th>Artwork</th>
      <th>Artist</th>
      <th>Style Description</th>
      <th>Medium Description</th>
      <th>Edit</th>
      {{!-- <th>Delete</th> --}}
    </thead>
    <tbody>
      {{#each context}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.artWork}}</td>
        <td>{{this.artistFullName}}</td>
        <td>{{this.style}}</td>
        <td>{{this.medium}}</td>
        <td><a href="/inventory/{{this.id}}?artist={{this.artistId}}" class="btn btn-dark edit"
            data-id={{this.id}}>Edit</a></td>
        {{!-- <td><a href="#" class="btn btn-danger" data-id={{this.id}}>Delete</a></td> --}}
      </tr>
      {{/each}}
    </tbody>
  </table>

  {{!-- Add Artwork --}}
  <div class="search-form">
    <h4 class="form-heading">Add artwork</h4>
    <div class="col-8">
      <form method="POST" action="/inventory">
        <div class="row">
          <div class="col">
            <input type="text" name="name" class="form-control" placeholder="Artwork name" required />
          </div>
          <div class="form-group col">
            <select name="artistId" id="inputArtist" class="form-control">
              <option selected="selected">Choose Artist...</option>
              <option value="NULL">NULL</option>
              {{#each artists}}
              <option value={{this.artistId}}>{{this.artistName}}</option>
              {{/each}}
            </select>
          </div>
          </div>
          <div class="row">
            <div class="form-group col">
              <select name="styleId" id="inputStyle" class="form-control">
                <option selected>Choose Style..</option>
                {{#each styles}}
                <option value={{this.styleId}}>{{this.styleDescription}}</option>
                {{/each}}
              </select>
            </div>
            <div class="form-group col">
              <select name="mediumId" id="inputMedium" class="form-control">
                <option selected>Choose Medium..</option>
                {{#each mediums}}
                <option value={{this.mediumId}}>{{this.mediumDescription}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-dark add-submit">
                Add
              </button>
            </div>
          </div>
      </form>
    </div>
  </div>
  {{/if}}
</div>

<script src="./js/inventory.js"></script>