<div class="container-md">
  {{#if error}}
    <div class="add-form">
      <h4 class="form-heading">Add medium</h4>
      <p class="form-error">{{error.message}}</p>
      <div class="col-3">
        <form method="POST" action="mediums">
          <div class="row">
            <div class="col">
              <input type="text" name="name" class="form-control" placeholder="Medium name" value="{{error.name}}" required/>
            </div>
            <div class="row">
              <div class="col">
                <button type="submit" class="btn btn-dark add-submit">
                  Add
                </button>
                <a href="/mediums" class="btn btn-secondary">Cancel</a>
              </div>
            </div>
        </form>
      </div>
    </div>
  {{else}}
  <h2 class="page-heading">Art Mediums</h2>

  <table class="table table-striped table-hover">
    <h4 class="form-heading">Mediums Table</h4>
    <thead class="table-dark">
      <th>Medium Id</th>
      <th>Medium Description</th>
      <th>Edit</th>
    </thead>
    <tbody>
      {{#each context}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.medium}}</td>
        <td><a href="/mediums/{{this.id}}" class="btn btn-dark edit" data-id={{this.id}}>Edit</a></td>
        {{!-- <td><a href="#" class="btn btn-danger" data-id={{this.id}}>Delete</a></td> --}}
      </tr>
      {{/each}}
    </tbody>
  </table>


  <div class="add-form">
    <h4 class="form-heading">Add medium</h4>
    <div class="col-3">
      <form method="POST" action="mediums">
        <div class="row">
          <div class="col">
            <input type="text" name="name" class="form-control" placeholder="Medium name" required/>
          </div>
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-dark add-submit">
                Add
              </button>
            </div>
          </div>
      </form>
    </div>
  </div>
  {{/if}}
</div>

{{!--
Not currently used
<script src="./js/mediums.js"></script> --}}